body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  background: #fff;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  background-color: #e56b1f;
  margin: -20px -20px 20px -20px;
  outline: none;
  padding: 20px;
  text-align: center;
  color: #fffefd;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

input{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 

select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  background: #1d6fdc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #155bb5;
}

.submit-btn {
  margin-top: 20px;
  font-size: 16px;
}

.info {
  font-size: 14px;
  color: green;
}

.map-box {
  width: 100%;
  height: 250px;          /* square-ish */
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  display: none;          /* Hidden by default */
}

/* Desktop: slightly larger map */
@media (min-width: 768px) {
  .map-box {
    height: 300px;
  }
}
