body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  background: #fff;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  background-color: #e56b1f;
  margin: -20px -20px 20px -20px;
  border-radius: 8px 8px 0 0;
  outline: none;
  padding: 20px;
  text-align: center;
  color: #fffefd;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

input{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  background: #1d6fdc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #155bb5;
}

.submit-btn {
  margin-top: 20px;
  font-size: 16px;
}

.info {
  font-size: 14px;
  color: green;
}

.hidden {
  display: none;
}

.map-box {
  width: 100%;
  height: 250px;          /* square-ish */
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  display: none;          /* Hidden by default */
}

/* Desktop: slightly larger map */
@media (min-width: 768px) {
  .map-box {
    height: 300px;
  }
}

/* Mobile: full width map */
@media (max-width: 767px) {
  .map-box {
    width: 100%;
    height: 250px;
  }
}

/* Poppins Font Integration */
body {
  font-family: 'Poppins', sans-serif;
}
h1, label, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
input, select {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/* Modals */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.popup-box p {
  margin-bottom: 15px;
  font-size: 14px;
}

.popup-box button {
  padding: 8px 15px;
  border: none;
  background: #2c7be5;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
